.sidebar{
  opacity: 0;
  position:fixed;
  left:0px;
  bottom:0px;
  top:55px;
  width:72px;
  background-color: rgb(233, 233, 233);
  transition: opacity 0.16s;
}
.sidebar_link{
  height:74px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index:200;
  padding-top:5px;
}
.sidebar_link:hover{
  background-color: rgb(235,235,235);
  cursor:pointer;}
.sidebar_link img{
  height:24px;
    margin-bottom:4px;

}
.sidebar_link div{
  font-size:10px;
}